{% extends 'adminbase.html' %}
{% load static %}

{% block adcss %}
<link rel="stylesheet" href="{% static 'css/logstyle1.css' %}">
    
{% endblock adcss %}

    
{% block admincontent %}
    

    
<div class="login-page">
    <div class="form">
      <form class="login-form" method="post" onsubmit="showsuccessalert()">
        {% csrf_token %}
        <input type="text" placeholder="first name" required name="fname"/>
        <input type="text" placeholder="lastname" required name="lname"/>
        <input type="text" placeholder="username" required name="uname">
        <input type="text" placeholder="email address" required name="email">
        <input type="password" placeholder="password" required name="pwd">
        <input type="password" placeholder="confirm password" name="cpwd">
        <button type="submit" style="font-weight: bolder;">Add teacher</button>
      </form>
    </div>
</div>
<script>
  function showsuccessalert(){
    alert("Data added successfully");
  }
</script>
{% endblock admincontent %}