<nav class="navbar" >
    <div class="navdiv">
        <ul style="margin-top: 9px;">
            <li><a href="/admin" style="text-decoration: none;color: white;">Admin home</a></li>
            <li><a href="/studapp" style="text-decoration: none;color: white;">Approve student</a></li>
            <li><a href="/reg" style="text-decoration: none;color: white;">Add teacher</a></li>
            <li><a href="/view" style="text-decoration: none;color: white;">Show all teachers</a></li>
            <li><a href="/studview" style="text-decoration: none;color: white;">Show all students</a></li>
            <li><a href="lout" style="text-decoration: none;color: white;">Log out</a></li>
            
        </ul>
    </div>
</nav>